<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->

<h1 th:text="'List of Vets'">List of Vets</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}"/>
            <td th:text="${vet.firstname}"/>
            <td th:text="${vet.lastName}"/>
        </tr>
    </tbody>
</table>

</body>
</html>